@font-face {
  font-family: "Microsoft-JhengHei-400";
  src: url("../fonts/microsoft-jhenghei-regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap; }

@font-face {
  font-family: "Microsoft-JhengHei-700";
  src: url("../fonts/microsoft-jhenghei-bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap; }

html {
  box-sizing: border-box;
  overflow-x: hidden; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: "Microsoft-JhengHei-400", sans-serif;
  font-weight: 400;
  color: #353535;
  font-size: 18px;
  line-height: 1.3;
  overflow: hidden;
  background-color: white; }

@media (max-width: 1200px) {
  body {
    font-size: 16px; } }

.bold {
  font-family: "Microsoft-JhengHei-700", sans-serif;
  font-weight: 700; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

.btn {
  display: inline-block;
  color: white;
  padding: 20px 75px;
  background-color: #ef3742;
  border-radius: 50px;
  border: 1px solid #ef3742;
  text-decoration: none;
  transition: all 0.3s; }
  .btn:hover {
    background-color: white;
    color: #ef3742; }

@media (max-width: 1200px) {
  .btn {
    padding: 10px 50px; } }

.title {
  font-size: 40px; }

@media (max-width: 1200px) {
  .title {
    font-size: 34px; } }

@media (max-width: 1200px) {
  .title {
    font-size: 24px; } }

.underline {
  position: relative;
  padding-bottom: 30px; }
  .underline::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 125px;
    background-color: #ef3742;
    bottom: 0;
    left: 0; }

@media (max-width: 1200px) {
  .underline {
    padding-bottom: 15px; }
    .underline::before {
      height: 4px; } }

.card {
  margin-bottom: 15px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 265px;
  width: 100%;
  background-color: white; }
  .card__img {
    height: 286px; }
  .card__desc {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 15px;
    border: 1px solid #dadada;
    border-top: none; }
  .card__name {
    width: 100%;
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    font-size: 20px; }
    .card__name::before {
      height: 3px; }
  .card__link {
    display: inline-block;
    margin-top: 25px;
    color: #ef3742;
    font-size: 16px; }

.burger {
  width: 30px;
  height: 21px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .burger__line {
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: #ef3742;
    transition: all 0.3s; }
  .burger::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #ef3742;
    transition: all 0.3s; }
  .burger::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #ef3742;
    transition: all 0.3s; }
  .burger.active .burger__line {
    opacity: 0; }
  .burger.active::after {
    transform: rotate(45deg);
    top: 9px; }
  .burger.active::before {
    transform: rotate(-45deg);
    bottom: 9px; }

.header {
  position: relative; }
  .header__inner {
    height: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    width: 100%; }
  .header__nav {
    max-width: 670px;
    width: 100%;
    margin-right: 15px; }
  .header .menu__link:hover {
    color: #ef3742; }
  .header__hover {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
    opacity: 0;
    position: absolute;
    z-index: 5;
    left: 0;
    top: 100%;
    width: 100%;
    margin: 0;
    list-style: none;
    transition: opacity 0.3s; }
    .header__hover-icon {
      transition: all 0.3s; }
    .header__hover-item + .header__hover-item {
      margin-top: 10px; }
    .header__hover-link {
      display: inline-block;
      width: 100%;
      color: #353535;
      text-decoration: none;
      padding: 5px 0;
      transition: all 0.3s; }
      .header__hover-link:hover {
        color: #ef3742; }
  .header .menu__item--list:hover {
    overflow: visible; }
    .header .menu__item--list:hover svg {
      transform: rotate(180deg);
      stroke: #ef3742; }
    .header .menu__item--list:hover .header__hover {
      opacity: 1; }
  .header__search {
    width: 20px;
    height: 20px; }

.logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
  text-decoration: none; }
  .logo__text {
    width: 130px;
    margin-left: 20px;
    color: #353535; }

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .menu__item {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden; }
  .menu__link {
    display: inline-block;
    text-decoration: none;
    color: #353535;
    padding: 10px 0;
    transition: all 0.3s; }

@media (max-width: 1200px) {
  .header__inner {
    height: 70px; }
  .header__nav {
    position: absolute;
    top: 70px;
    right: 0;
    z-index: 10;
    width: 245px;
    height: 100vh;
    z-index: 100;
    background-color: white;
    margin-right: 0;
    transition: all 0.3s;
    transform: translateX(100%); }
    .header__nav.active {
      transform: translateX(0); }
  .header .menu {
    flex-direction: column; }
    .header .menu__item {
      width: 100%; }
      .header .menu__item--list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .header .menu__item--list .menu__link {
          width: fit-content;
          margin-right: 10px;
          padding-bottom: 0; }
    .header .menu__link {
      width: 100%;
      text-align: center; }
      .header .menu__link:hover {
        color: #353535; }
  .header__hover-link {
    text-align: center; }
    .header__hover-link:hover {
      color: #353535; }
  .header__search {
    margin-left: auto;
    margin-right: 20px; }
  .header__hover {
    position: relative;
    opacity: 1;
    height: 0;
    box-shadow: none;
    transition: all 0.3s; }
    .header__hover.active {
      height: 120px; }
  .header__hover-icon {
    margin-top: 10px; }
  .header__hover-icon.active {
    transform: rotate(180deg) !important;
    stroke: #ef3742 !important; }
  .header .menu__item--list:hover {
    overflow: hidden; }
    .header .menu__item--list:hover svg {
      transform: rotate(0deg);
      stroke: #353535; }
    .header .menu__item--list:hover .header__hover {
      opacity: 1; }
  .burger {
    display: flex; }
  .logo__img {
    width: 100px; } }

@media (max-width: 500px) {
  .logo__text {
    display: none; } }

.preview {
  background-image: url(../img/index-main-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 150px 0px 300px;
  overflow: hidden; }
  .preview__inner {
    max-width: 780px;
    width: 100%; }
  .preview__title {
    margin-bottom: 50px; }
  .preview__text {
    margin-bottom: 30px;
    font-size: 30px;
    max-width: 400px;
    width: 100%; }
  .preview__btn {
    font-size: 23px; }

@media (max-width: 1200px) {
  .preview {
    padding: 150px 0px 200px; }
    .preview__title {
      margin-bottom: 30px; }
    .preview__text {
      font-size: 18px; }
    .preview__btn {
      font-size: 16px; } }

@media (max-width: 900px) {
  .preview {
    padding: 100px 0; }
    .preview__inner {
      max-width: 100%; } }

.advantages {
  margin-bottom: 80px;
  margin-top: -80px;
  position: relative;
  z-index: 10; }
  .advantages__inner {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 1090px;
    width: 100%;
    justify-content: space-between;
    padding: 35px 30px;
    box-shadow: 0px 11px 29px rgba(0, 0, 0, 0.12);
    border-radius: 10px; }
  .advantages__img {
    height: 50px;
    width: auto; }
  .advantages__item {
    display: flex;
    align-items: flex-start; }
  .advantages__text {
    display: inline-block;
    max-width: 165px;
    width: 100%;
    margin-left: 15px; }

@media (max-width: 1200px) {
  .advantages {
    margin-bottom: 50px; }
    .advantages__inner {
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 10px;
      width: calc(100% - 20px);
      padding: 20px; }
    .advantages__img {
      height: 50px;
      width: auto; }
    .advantages__item {
      display: flex;
      align-items: flex-start;
      max-width: 230px;
      width: 100%;
      margin: 10px; }
    .advantages__text {
      display: inline-block;
      max-width: 165px;
      width: 100%;
      margin-left: 15px; } }

.services {
  margin-bottom: 50px; }
  .services__title {
    text-align: center; }
    .services__title::before {
      left: calc(50% - 62.5px); }
  .services__inner {
    margin: 0 -20px 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
  .services__item {
    margin: 0 20px 30px;
    padding: 30px;
    border: 1px solid #dadada;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .services__img {
    margin-bottom: 30px;
    transition: all 0.3s; }
  .services__img:hover {
    transform: scale(1.2); }
  .services__item:nth-child(1) .services__img {
    margin-right: -17px; }
  .services__text {
    margin: 20px 0;
    max-width: 160px;
    width: 100%; }
  .services__btn {
    padding: 10px 50px; }

.short-about {
  margin-bottom: 130px; }
  .short-about__inner {
    display: flex;
    justify-content: space-between;
    align-items: start; }
  .short-about__video {
    max-width: 50%;
    width: 100%;
    height: fit-content;
    box-shadow: -20px 20px 0 #bfbfbf;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    position: relative; }
    .short-about__video video {
      width: 100%;
      height: 100%; }
  .short-about__play {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .short-about__play-icon {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      background-image: url(../img/icons/play.svg);
      background-size: 50%;
      background-repeat: no-repeat;
      background-position: center;
      height: 40px;
      width: 40px;
      background-color: #ef3742;
      border-radius: 100%;
      z-index: 3; }
    .short-about__play-circle-1 {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      height: 70px;
      width: 70px;
      background-color: #ef3742;
      border-radius: 100%;
      opacity: 0.5;
      z-index: 2; }
    .short-about__play-circle-2 {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      height: 100px;
      width: 100px;
      background-color: #ef3742;
      border-radius: 100%;
      opacity: 0.2;
      z-index: 2; }
    .short-about__play.active {
      opacity: 0; }
  .short-about__desc {
    max-width: 500px;
    width: 100%;
    position: relative; }
    .short-about__desc::after {
      content: "DentaLux";
      font-size: 100px;
      opacity: 0.05;
      position: absolute;
      bottom: 10%;
      right: -80%;
      transform: rotate(90deg); }
  .short-about__text {
    font-size: 24px;
    margin: 40px 0 30px; }
  .short-about__btn {
    padding: 15px 60px; }

@media (max-width: 1200px) {
  .short-about__video {
    box-shadow: none;
    max-width: 60%;
    min-width: 60%; }
  .short-about__text {
    font-size: 18px;
    margin: 20px 0 30px; } }

@media (max-width: 700px) {
  .short-about__inner {
    justify-content: start;
    flex-direction: column; }
  .short-about__video {
    max-width: 100%;
    min-width: 60%; }
  .short-about__text {
    font-size: 18px;
    margin: 20px 0 30px; } }

.doctors {
  background-image: url(../img/doctors.png);
  background-size: 100% 80%;
  padding-top: 50px;
  background-repeat: no-repeat;
  margin-bottom: 75px; }
  .doctors__title {
    text-align: center; }
    .doctors__title::before {
      left: calc(50% - 62.5px); }
  .doctors__inner {
    margin: 25px 0 50px; }
  .doctors__arrow {
    height: 62px;
    width: 62px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    position: absolute;
    top: calc(50% - 62px);
    background-size: cover;
    cursor: pointer; }
    .doctors__arrow--left {
      background-image: url(../img/doctors-arrow-left.png);
      left: -82px; }
    .doctors__arrow--right {
      background-image: url(../img/doctors-arrow-right.png);
      right: -82px; }
  .doctors__card {
    margin: 0 auto; }
  .doctors__btn {
    display: block;
    width: fit-content;
    padding: 15px 60px;
    margin: 0 auto; }

@media (max-width: 1300px) {
  .doctors {
    background-size: cover; }
    .doctors__arrow {
      width: 40px;
      height: 40px;
      top: -65px; }
      .doctors__arrow--left {
        background-image: url(../img/doctors-arrow-left.png);
        left: 10px; }
      .doctors__arrow--right {
        background-image: url(../img/doctors-arrow-right.png);
        right: 10px; } }

.certificates {
  margin-bottom: 80px; }
  .certificates__title {
    text-align: center; }
    .certificates__title::before {
      left: calc(50% - 62.5px); }
  .certificates__inner {
    position: relative; }
    .certificates__inner::after {
      content: "DentaLux";
      font-size: 100px;
      opacity: 0.05;
      position: absolute;
      top: 30%;
      left: -35%;
      transform: rotate(90deg); }
  .certificates__img {
    max-width: 265px;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 10px;
    margin: 0 auto; }
  .certificates__dots {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px -15px 30px; }
    .certificates__dots li {
      position: relative;
      margin: 0 15px 10px; }
    .certificates__dots li button {
      width: 20px;
      height: 20px;
      background-color: #dadada;
      box-shadow: none;
      border-radius: 100%;
      border: none;
      cursor: pointer;
      padding: 0;
      transition: all 0.3s; }
      .certificates__dots li button::before {
        content: "";
        height: 40px;
        width: 40px;
        position: absolute;
        left: -10px;
        top: -3px;
        background-color: #ef3742;
        border-radius: 100%;
        opacity: 0;
        transition: all 0.3s; }
    .certificates__dots .slick-active button,
    .certificates__dots button:hover {
      background-color: #ef3742; }
      .certificates__dots .slick-active button::before,
      .certificates__dots button:hover::before {
        opacity: 0.3; }

@media (max-width: 1200px) {
  .certificates__inner::after {
    display: none; } }

.qr {
  margin-bottom: 80px;
  position: relative; }
  .qr::after {
    content: "";
    position: absolute;
    width: 443px;
    height: 270px;
    background-image: url(../img/qr-apples.png);
    background-repeat: no-repeat;
    top: 50px;
    right: -200px; }
  .qr__title {
    text-align: center;
    margin-bottom: 50px; }
    .qr__title::before {
      left: calc(50% - 62.5px); }
  .qr__inner {
    display: flex;
    justify-content: center;
    align-items: center; }
  .qr__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 60px; }
  .qr__img {
    max-width: 270px;
    width: 100%;
    border: 1px solid #dadada;
    border-radius: 10px; }
  .qr__text {
    margin-top: 40px;
    font-size: 24px; }

@media (max-width: 1200px) {
  .qr::after {
    display: none; } }

@media (max-width: 900px) {
  .qr__item {
    margin: 0 30px; }
  .qr__text {
    font-size: 18px;
    margin-top: 20px; } }

@media (max-width: 500px) {
  .qr__inner {
    flex-direction: column; }
  .qr__item {
    margin: 0 0 15px; } }

.footer {
  background-color: #ef3742; }
  .footer__inner {
    padding: 15px 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer .logo__text {
    color: white; }
  .footer__nav {
    max-width: 475px;
    width: 100%; }
  .footer .menu__link {
    color: white; }
  .footer .qr__item {
    color: white;
    margin: 0;
    margin-left: 10px; }
  .footer .qr__img {
    max-width: 90px;
    border: none; }
  .footer .qr__text {
    margin-top: 15px;
    font-size: 11px; }
  .footer__copy {
    color: white;
    background-color: #df2d38;
    padding: 20px 0;
    text-align: center;
    font-size: 14px; }

@media (max-width: 1000px) {
  .footer__inner {
    flex-wrap: wrap;
    justify-content: center; }
  .footer .logo {
    order: -2;
    margin-bottom: 10px; }
  .footer .qr__inner {
    flex-direction: row !important;
    order: -1; } }

.about__preview {
  background-image: url(../img/about-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 0;
  margin-bottom: 45px; }

.about__tabs-inner {
  width: calc(100% + 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 -15px 70px; }

.about__tab {
  margin: 0 15px;
  min-width: 175px;
  text-align: center;
  border: 1px solid #d2e0eb;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s; }
  .about__tab.active, .about__tab:hover {
    background-color: #ef3742;
    color: white; }

.about__title {
  text-align: center; }
  .about__title::before {
    left: calc(50% - 62.5px); }

.about__content {
  display: none; }
  .about__content.active {
    display: block; }

@media (max-width: 620px) {
  .about__preview {
    padding: 100px 0;
    margin-bottom: 35px; }
  .about__tabs-inner {
    width: calc(100% + 10px);
    margin: 0 -5px 70px; }
  .about__tab {
    margin: 0 5px;
    min-width: 90px; } }

.about__stats {
  margin: 0 0 70px;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 100%;
  width: 100%; }
  .about__stats-num {
    font-size: 72px;
    color: #ef3742;
    margin-bottom: 30px; }
  .about__stats-text {
    font-size: 24px;
    max-width: 190px;
    width: 100%; }

@media (max-width: 900px) {
  .about__stats {
    margin: 0 -10 70px;
    flex-wrap: wrap;
    max-width: calc(100% + 20px);
    width: 100%; }
    .about__stats-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0 10px 20px;
      width: calc(50% - 20px); }
    .about__stats-text {
      font-size: 18px; } }

@media (max-width: 500px) {
  .about__stats-item {
    margin: 0 0 20px;
    width: 100%; }
  .about__stats-num {
    font-size: 54px; }
  .about__stats-text {
    font-size: 16px;
    text-align: center; } }

.about__history {
  list-style: none;
  padding: 0;
  margin: 0; }
  .about__history-item:nth-child(2n) .about__history-wrapper {
    flex-direction: row-reverse; }
  .about__history-item:nth-child(2n) .about__history-desc {
    margin-right: 0;
    margin-left: 10px; }
    .about__history-item:nth-child(2n) .about__history-desc::after {
      left: -12%; }
  .about__history-item:nth-child(2n) .about__history-img {
    margin-left: 0;
    margin-right: 10px; }
  .about__history-item:last-child .about__history-desc::after {
    background: #d2e0eb;
    background: linear-gradient(180deg, #d2e0eb 70%, transparent 100%); }
  .about__history-year {
    display: block;
    border: 2px solid #d2e0eb;
    background-color: #ef3742;
    color: white;
    font-size: 24px;
    min-width: 210px;
    max-width: fit-content;
    text-align: center;
    margin: 0 auto;
    padding: 5px; }
  .about__history-wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 100%;
    width: 100%;
    margin: 20px 0 35px; }
  .about__history-desc {
    padding: 30px;
    border: 2px solid #d2e0eb;
    max-width: 45%;
    width: 100%;
    margin-right: 10px;
    font-size: 20px;
    position: relative; }
    .about__history-desc::after {
      content: "";
      display: inline-block;
      width: 2px;
      min-height: calc(100% + 60px);
      background-color: #d2e0eb;
      position: absolute;
      top: -22px;
      right: -12%; }
  .about__history-title {
    margin: 0;
    font-size: 24px; }
  .about__history-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 45%;
    width: 100%;
    margin-left: 10px; }

@media (max-width: 700px) {
  .about__history-year {
    font-size: 18px; }
  .about__history-desc {
    padding: 15px;
    font-size: 16px; } }

@media (max-width: 500px) {
  .about__history-item:nth-child(2n) .about__history-wrapper {
    flex-direction: column-reverse; }
  .about__history-item:nth-child(2n) .about__history-desc {
    margin-left: 0; }
  .about__history-item:nth-child(2n) .about__history-img {
    margin-right: 0; }
  .about__history-wrapper {
    flex-direction: column-reverse; }
  .about__history-desc {
    max-width: 100%;
    margin-right: 0;
    font-size: 18px; }
    .about__history-desc::after {
      display: none; }
  .about__history-img {
    max-width: 100%;
    margin-left: 0;
    height: 300px;
    margin-bottom: 15px; } }

.about__doctors-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + 20px);
  margin: 0 -10px; }

.about__doctors-card {
  margin: 0 10px 30px;
  transition: all 0.3s; }
  .about__doctors-card:hover {
    box-shadow: 0 4px 8px #d2e0eb; }

.about__cases-subtitle {
  font-size: 24px;
  margin: 20px 0 50px;
  text-align: center; }

.about__cases-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + 60px);
  margin: 0 -30px; }

.about__cases-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 540px;
  width: 100%;
  margin: 0 30px 45px; }

.about__cases-title {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
  padding-bottom: 15px; }
  .about__cases-title::before {
    width: 135px;
    height: 4px;
    left: calc(50% - 67.5px); }

.about__cases-photos {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 0 -10px;
  width: calc(100% + 20px); }

.about__cases-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  max-width: calc(50% - 30px);
  margin: 0 10px; }

.about__cases-img {
  width: 100%;
  border-radius: 10px; }

.about__cases-desc {
  margin-top: 15px;
  font-size: 24px; }

.about__cases-text {
  margin-top: 15px;
  font-size: 16px;
  text-align: center; }

@media (max-width: 500px) {
  .about__cases-subtitle {
    font-size: 18px; }
  .about__cases-title {
    font-size: 24px;
    padding-bottom: 5px; }
    .about__cases-title::before {
      width: 100px;
      height: 2px;
      left: calc(50% - 50px); }
  .about__cases-desc {
    margin-top: 10px;
    font-size: 18px; } }
